* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to top, #ffdde1, #ee9ca7);
}

/* Trái tim */
.heart {
    position: fixed;
    bottom: -30px;
    opacity: 0;
    animation: fly ease-in-out forwards;
    will-change: transform, opacity;
    pointer-events: none;
}

@keyframes fly {
    0% {
        transform: translateY(0) scale(0.8);
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: translateY(-120vh) scale(1.4);
        opacity: 0;
    }
}
#love-text {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: #ff3366;
    opacity: 0;
    pointer-events: none;
    animation: none;
}

.show-love {
    animation: showText 2s ease forwards;
}

@keyframes showText {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -60%) scale(1.1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -80%) scale(1);
    }
}

